# Ignore everything by default
*
!*/

# Only track bloom-flow project content
!.gitignore
!.github/
!Episode Engine Flight Manual/
!Episode Engine Flight Manual/**
!Media Matrix HTML5 engine/
!Media Matrix HTML5 engine/**
!Tour_Audio/
!Tour_Audio/**
!README.md
!LICENSE
!RELEASE_NOTES.md
!index.html
